@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* ESTILOS PERSONALIZADOS */

/* VIDEO './pages/components/estadisticas/components/Video' */

.videoGrid {
  display: grid;
  grid-template-columns: auto 1px auto;
}