@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* ESTILOS PERSONALIZADOS */

/* VIDEO './pages/components/estadisticas/components/Video' */

.videoGrid {
  display: grid;
  grid-template-columns: auto 1px auto;
}

.triangle-up {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* BREAKPOINTS PERSONALIZADOS */

@media screen and (max-height: 622px) {
  .menu_max_height_622 {
    overflow-y: scroll;
  }
  .menu_button_max_height_622 {
    margin-bottom: 1rem;
  }
}
  
